{% extends 'base.html' %}

{% block main %}

{% load tailwind_filters %}

<form method="post" enctype="multipart/form-data" >
    {% csrf_token %}
 <section class="text-gray-600 body-font relative">
        <div class="container px-5 py-4 mx-auto">
            <div class="flex flex-col text-center w-full">
                <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Add new book</h1>
            </div>
            <div class="lg:w-1/2 md:w-2/3 mx-auto">
                {{forms|crispy}}
                <div class="flex flex-wrap -m-2">




                    <div class="p-2 w-full">
                        <button type="submit"
                            class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">ADD BOOK</button>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
</form>

{% endblock main %}
